<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/items.css">
</head>
<body>

	<h1>Actions index</h1>

	<div class="items-container">

		<%	for (let i = 0 ; i < actions.length; i++) {	%>
			<span class="single-item">
				<b>"<%=actions[i].text%>"</b><br>
				category: <%=actions[i].category%><br>
				timeOfDay: <%=actions[i].timeOfDay%><br>
				<form action="/actions/<%=actions[i]._id%>?_method=DELETE" method="POST">
					<button type="submit">DELETE</button>
				</form>
			</span>
		<%	}	%>

		<% if (actions.length == 0) { %>
			<span class="single-item"><i>No actions in the database</i></span>
		<% } %>

	</div>


	<h4>Button to delete all actions:</h4>
	<p>
		WARNING: THIS IS A POTENTIALLY DESTRUCTIVE ACTION!<br>
		PROCEED AT YOUR OWN RISK!<br>
	</p>
	<form action="/actions?_method=DELETE" method="POST">
		<button type="submit">CLEAR ALL ACTIONS</button>
	</form>
</body>
</html>