<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/items.css">
</head>
<body>

	<h1>Quotes index</h1>

	<div class="items-container">

		<%	for (let i = 0 ; i < quotes.length; i++) {	%>
			<span class="single-item">
				<b>"<%=quotes[i].text%>"</b><br>
				author: <%=quotes[i].author%><br>
				category: <%=quotes[i].category%><br>
				<form action="/quotes/<%=quotes[i]._id%>?_method=DELETE" method="POST">
					<button type="submit">DELETE</button>
				</form>
			</span>
		<%	}	%>

		<% if (quotes.length == 0) { %>
			<span class="single-item"><i>No quotes in the database</i></span>
		<% } %>

	</div>




	<h4>Button to delete all quotes:</h4>
	<p>
		WARNING: THIS IS A POTENTIALLY DESTRUCTIVE ACTION!<br>
		PROCEED AT YOUR OWN RISK!<br>
	</p>
	<form action="/quotes?_method=DELETE" method="POST">
		<button type="submit">CLEAR ALL QUOTES</button>
	</form>

</body>
</html>